In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.tsa.holtwinters as SimpleExpSmoothing

# Carregamento dos dados

In [2]:
df_dsa = pd.read_csv("dataset.csv")

In [3]:
df_dsa.head()

         Data  Total_Vendas
0  2023-01-01     53.483571
1  2023-01-02     57.176993
2  2023-01-03     63.087722
3  2023-01-04     62.103987
4  2023-01-05     44.690396

In [4]:
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    object
 1   Total_Vendas  365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [5]:
df_dsa.isnull().sum()

Data            0
Total_Vendas    0
dtype: int64

In [6]:
df_dsa.shape

(365, 2)

In [7]:
df_dsa.columns

Index(['Data', 'Total_Vendas'], dtype='object')

#  Pr√© Processamento dos dados

In [8]:
df_dsa["Data"] =pd.to_datetime(df_dsa["Data"])

In [9]:
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    datetime64[ns]
 1   Total_Vendas  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [10]:
# data minima
df_dsa["Data"].min()

Timestamp('2023-01-01 00:00:00')

In [11]:
# data maxima
df_dsa["Data"].max()

Timestamp('2023-12-31 00:00:00')